<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--SSPI means: Windows Authentication; or you can user "user id=xxx;password=yyy;" replace "Integrated Security=SSPI;"-->
    <add name="Local" connectionString="Data Source=.\localsqlinstance;Initial Catalog=tempdb;Integrated Security=SSPI;"></add>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>